<div class="max-sm:w-screen max-sm:h-16 max-sm:fixed max-sm:bottom-0  max-sm:bg-gray-50">
  <form [formGroup]="addItemForm" (ngSubmit)="submitForm()" class="flex mt-4 max-sm:mt-2 justify-center">
    <input type="text"
    formControlName="description"
    name="itemDescription" class="w-50 max-sm:w-72 max-sm:h-12 max-sm:rounded-md  max-sm:bg-gray-200
      max-sm:p-4 lg:border-b-2 sm:border-b-2
      border-gray-500 text-black focus:outline-none" placeholder="Añadir Item"/>
    <!-- <button class="hidden ml-3 cursor-pointer" type="submit"> -->
      <!-- <img src="../../../../assets/add-to-basket.png" alt="Icono" class="h-6 w-6"> -->
    <!-- </button> -->
  </form>
</div>
