@for (item of items; track item.id) {
  <div class="card flex justify-center items-center mt-4">
    <p-card styleClass="customCard roboto" class="mb-3 z-10 w-max" [style]="{ background: '#fff6e7' }">
      @if (isEditing && editingItemId === item.id) {
        <div class="flex justify-between items-center">
          <strong>
            <input #editInput type="text" id="editInput" class="font-bold" [formControl]="itemControl" pInputText
                   (blur)="updateItemDescription(item)" (keydown.enter)="updateItemDescription(item)"/>
          </strong>
          <button (click)="updateItemDescription(item)">
            <svg class="hidden md:block w-6 h-6 text-emerald-500 dark:text-white" aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                    d="M11 16h2m6.707-9.293-2.414-2.414A1 1 0 0 0 16.586
                    4H5a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V7.414a1 1 0 0 0-.293-.707ZM16
                    20v-6a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v6h8ZM9 4h6v3a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1V4Z"/>
            </svg>
          </button>
        </div>
      } @else {
        <div class="flex justify-between items-center">
          <strong (click)="editItem(item)" (keyup.enter)="editItem(item)"
                  tabindex="0" class="cursor-pointer"> {{ item.description.toLocaleUpperCase() }} </strong>
          @if (deletingItemId === item.id) {
          <!-- Circle progress -->
          <svg
            class="w-12 h-12 transform -rotate-90 translate-x-[7.5rem] md:translate-x-[14.5rem] lg:translate-x-[22.8rem] absolute"
            viewBox="0 0 36 36">
            <circle
              class="text-blue-400"
              cx="18" cy="18" r="16"
              stroke="currentColor" stroke-width="3.5" fill="none"/>
            <circle
              class="text-emerald-50 transition-[stroke-dashoffset] duration-2 ease-linear"
              cx="18" cy="18" r="16"
              stroke="currentColor" stroke-width="3.5" fill="none"
              [attr.stroke-dasharray]="100" [attr.stroke-dashoffset]="progressMap[item.id]"/>
          </svg>
          }
          <div class="relative flex items-center justify-center">
            <button class="z-10 bg-white p-2 rounded-full"
                    (mousedown)="startPress(item.id, item.description)"
                    (mouseup)="cancelPress(item.id)"
                    (mouseleave)="cancelPress(item.id)"
                    (touchstart)="startPress(item.id, item.description)"
                    (touchend)="cancelPress(item.id)"
                    (touchcancel)="cancelPress(item.id)">
              <svg class="w-6 h-6 text-red-500 dark:text-white" aria-hidden="true"
                   xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
              </svg>
            </button>
          </div>
        </div>
      }
    </p-card>
  </div>
}
<div class="card flex justify-content-center gap-2">
  <p-toast position="center" key="toastSucces" [style]="{ width: '40vh' }"></p-toast>
</div>
