<app-navbar (sharedLoadEvent)="loadItems()"/>
<span class="text-center mt-8 font-mono text-4xl">
  <h2>{{ $listSelectedTitle().toLocaleUpperCase() }}</h2>
  <!-- <img
    src="../../../assets/img/logo2-noBG.png"
    alt="Icono"
    class="h-32 w-32 m-auto mt-4"
  /> -->
</span>
<app-todo-add-item (sharedLoadEvent)="loadItems()"/>
@defer {
<app-todo-list-item [loading]="loading" [items]="items" (sharedLoadEvent)="loadItems()" />
} @placeholder (minimum 2000ms) {
<strong class="mt-10 flex justify-center">
  <span class="loading loading-dots loading-xs"></span
></strong>
}
