<nav class="roboto flex h-20 w-full items-center justify-start md:justify-end bg-gradient-to-b from-[#3bbfa1] to-white">
  @if (userStatus() === 'authenticated') {
    <div class="flex items-center gap-2">
      <!-- <p-menu #menu [model]="menuOptions" [popup]="true"></p-menu> -->
      @if (!mobileView) {
        <button (click)="shareListWithUser($event)" class="flex items-center bg-gray-200 text-gray-800 font-medium rounded-full px-4 py-2 shadow-inner hover:bg-gray-200 transition fixed left-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-black-500 mr-1" fill="currentColor" viewBox="0 0 24 24">
            <path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7a3.01 3.01 0 000-1.4l7.02-4.11a2.996 2.996 0 10-.97-1.72L7.93 9.58a3 3 0 100 4.83l7.1 4.14a2.996 2.996 0 101.96-2.47z"/>
          </svg>
          <span>Share</span>
        </button>
        <strong class="upper text-black">{{ user() }}</strong>
        <p-avatar
          (click)="resetFilterText()"
          icon="pi pi-user"
          size="normal"
          styleClass="mr-2"
          [style]="{ 'background-color': '#fff', color: '#000' }"
          shape="circle">
        </p-avatar>
        <div class="card flex justify-content-center gap-2">
          <p-toast position="top-right" key="toastSucces" [style]="{ width: '40vh' }"></p-toast>
        </div>
      } @else {
        <button (click)="resetFilterText()" class="translate-y-[-8px] translate-x-[10px]">
          <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
        <button (click)="shareListWithUser($event)" class="flex items-center bg-gray-200 text-gray-800 font-medium rounded-full px-4 py-2 shadow-inner hover:bg-gray-200 transition fixed right-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-black-500 mr-1" fill="currentColor" viewBox="0 0 24 24">
            <path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7a3.01 3.01 0 000-1.4l7.02-4.11a2.996 2.996 0 10-.97-1.72L7.93 9.58a3 3 0 100 4.83l7.1 4.14a2.996 2.996 0 101.96-2.47z"/>
          </svg>
          <span>Share</span>
        </button>
        <div class="card flex justify-content-center gap-2">
          <p-toast position="top-center" key="toastSucces" [style]="{ width: '40vh' }"></p-toast>
        </div>
      }
    </div>
    <p-drawer [(visible)]="drawerVisibleSignal" position="{{positionSidebar}}">
      <ng-template pTemplate="header">
        <div class="flex items-center">
          <p-avatar
            icon="pi pi-user"
            size="normal"
            styleClass="mr-2"
            shape="circle"></p-avatar>
          <p-overlay-badge
            value="{{ lists.length }}"
            severity="info"
            class="inline-flex ml-0 md:ml-4 text-sm md:text-base mb-3">
          </p-overlay-badge>
        </div>
        <span class="upper text-center font-sans font-bold text-black">{{ user() }}</span>
      </ng-template>
      <ng-template pTemplate="content">
        <!-- LIST OF ITEMS -->
        <ul>
          <li>
            <!-- CREATE NEW LIST BUTTON -->
            <div class="flex justify-center">
              <button (click)="showModalCreateList()" class="flex cursor-pointer">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="mr-2 h-6 w-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
                <span> Nueva Lista </span>
              </button>
            </div>
      <!--    search list form    -->
            <div class="flex items-center justify-center mt-2">
              <form class="relative" [formGroup]="searchList">
                <i class="pi pi-search absolute right-3 top-2 text-gray-500"></i>
                <input pInputText class="h-9 pr-10 border border-gray-300 rounded focus:outline-none focus:ring focus:border-blue-300" type="text" formControlName="filterText">
              </form>
            </div>
          </li>
        </ul>
        <ul class="mb-5 ml-8 mt-4 list-disc">
          @for (list of getFilteredLists(); track list.id) {
            <li>
              <div class="mb-2 flex justify-between">
                <button
                  class="relative inline cursor-pointer text-start text-lg font-medium before:absolute before:-bottom-1 before:block
                   before:h-[2px] before:w-full before:origin-bottom-right before:scale-x-0 before:bg-todo-custom-color
                   before:transition before:duration-300 before:ease-in-out hover:before:origin-bottom-left hover:before:scale-x-100"
                  (click)="showItemsFromList(list)">
                  {{ list.listName | uppercase }}
                </button>
                <div class="flex space-x-2">
                  <button (click)="confirmDeleteList($event, list.id, list.listName)">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="h-6 w-6 text-red-500">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                    </svg>
                  </button>
                </div>
              </div>
            </li>
          }
        </ul>
      </ng-template>
      <ng-template pTemplate="footer">
        <ul class="flex justify-between">
          <li>
            <button (click)="settingModalVisible = true">
              <a class="cursor-pointer">
                <i class="pi pi-cog"></i>
                <span> Settings </span>
              </a>
            </button>
          </li>
          <li>
            <button (click)="logout()" class="cursor-pointer text-black">
              <i class="pi pi-sign-out"></i>
              <span> Sign out </span>
            </button>
          </li>
        </ul>
      </ng-template>
    </p-drawer>
  }
</nav>

<!-- *MODAL CREATE NEW LIST -->
<p-dialog  header="Nombre de la Lista"
  [(visible)]="showModal"
  [modal]="true"
  (onShow)="handleFocus($event, inputEl)"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true">
  <div class="p-5">
    <form [formGroup]="createNewListForm" (ngSubmit)="submitCreateListForm()">
      <h2 class="text-2xl font-semibold text-center mb-4">Nombre de la lista</h2>
      <input #inputEl pInputText type="text" class="caret-black" formControlName="listName" placeholder="Nombre de la lista"/>
    </form>
  </div>
  <div class="flex justify-center">
    <p-button (click)="submitCreateListForm()" label="Crear" icon="pi pi-plus" size="small"></p-button>
  </div>
</p-dialog>

<!-- *MODAL SETTING -->
<p-dialog
  header="SETTINGS"
  [(visible)]="settingModalVisible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true">
  <div class="mt-2"></div>
  <div class="mt-2 flex justify-center">
    <p-button
      (click)="confirmDeleteUser($event)"
      label="Eliminar Usuario '{{ user() }}'"
      icon="pi pi-minus"
      size="small"></p-button>
  </div>
</p-dialog>

<!-- !CONFIRMATION MESSAGE DELETED (LIST AND USER)-->
<div class="card flex justify-center">
  <p-confirmDialog #cdDelete key="cdDelete">
    <ng-template pTemplate="headless" let-message>
      <div class="flex flex-col items-center rounded-lg bg-white p-5 shadow-md">
        <div class="-mt-8 flex h-24 w-24 items-center justify-center rounded-full bg-blue-500">
          <i class="pi pi-question text-5xl text-white"></i>
        </div>
        <span class="mb-2 mt-4 block text-2xl font-bold">{{ message.header }}</span>
        <p class="mb-0">{{ message.message }}</p>
        <div class="mt-4 flex items-center gap-2">
          <button
            pButton
            label="Aceptar"
            (click)="cdDelete.onAccept()"
            class="w-32 rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700"></button>
          <button
            pButton
            label="Cancelar"
            (click)="cdDelete.onReject()"
            class="w-32 rounded border border-gray-300 px-4 py-2 font-bold text-white hover:border-gray-500"></button>
        </div>
      </div>
    </ng-template>
  </p-confirmDialog>
</div>

<p-confirmDialog #cdWithInput key="cdWithInput">
  <ng-template pTemplate="headless" let-message>
    <div class="flex flex-col items-center rounded-lg bg-white p-5 shadow-md">
      <div class="-mt-8 flex h-24 w-24 items-center justify-center rounded-full bg-blue-500">
        <i class="pi pi-question text-5xl text-white"></i>
      </div>
      <span class="mb-2 mt-4 block text-2xl font-bold">{{ message.header }}</span>
      <p class="mb-0">{{ message.message }}</p>
      <!-- input for user with share -->
      <form [formGroup]="shareListWithUserForm" (ngSubmit)="cdWithInput.onAccept()">
        <input
          pInputText
          type="text"
          formControlName="user"
          class="mt-4 w-full rounded border border-gray-300 px-4 py-2"
          placeholder="Ingresa el nombre del usuario" />
      </form>
      <!-- Botones -->
      <div class="mt-4 flex items-center gap-2">
        <button
          pButton
          (click)="cdWithInput.onAccept()"
          label="Aceptar"
          class="w-32 rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700"></button>
        <button
          pButton
          (click)="cdWithInput.onReject()"
          label="Cancelar"
          class="w-32 rounded border border-gray-300 px-4 py-2 font-bold text-white hover:border-gray-500"></button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>
