<nav class="roboto flex h-12 w-full items-center justify-start md:justify-end bg-gradient-to-b from-emerald-300 to-white h-20">
  @if (userStatus() === 'authenticated') {
    <div class="flex items-center gap-2">
      <!-- <p-menu #menu [model]="menuOptions" [popup]="true"></p-menu> -->
      @if (!mobileView) {
        <strong class="upper text-black">{{ user() }}</strong>
        <p-avatar
          (click)="resetFilterText()"
          image="assets/img/logo1.jpg"
          styleClass="mr-2 cursor-pointer"
          [style]="{ 'background-color': '#000', color: '#ffffff' }"
          shape="circle">
        </p-avatar>
      } @else {
        <button (click)="resetFilterText()">
          <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      }
    </div>
    <p-sidebar [(visible)]="sidebarVisible" [position]="'left'" [style]="{'width': mobileView ? '100vw' : '30vw'}">
      <ng-template pTemplate="header">
        <div class="flex items-center">
          <p-avatar
            (click)="sidebarVisible = true"
            image="assets/img/logo1.jpg"
            styleClass="mr-2 cursor-pointer"
            [style]="{ 'background-color': '#000', color: '#ffffff' }"
            shape="circle"></p-avatar>
          <span class="upper text-center font-sans font-bold text-black">{{ user() }} ({{lists.length}})</span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <!-- LIST OF ITEMS -->
        <ul>
          <li>
            <!-- CREATE NEW LIST BUTTON -->
            <div class="flex justify-center">
              <button (click)="showModalCreateList()" class="flex cursor-pointer">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="mr-2 h-6 w-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
                <span> Nueva Lista </span>
              </button>
            </div>
      <!--    search list form    -->
            <div class="flex items-center justify-center mt-2">
              <form class="relative" [formGroup]="searchList">
                <i class="pi pi-search absolute right-3 top-2 text-gray-500"></i>
                <input pInputText class="h-9 pr-10 border border-gray-300 rounded focus:outline-none focus:ring focus:border-blue-300" type="text" formControlName="filterText">
              </form>
            </div>
          </li>
        </ul>
        <ul class="mb-5 ml-8 mt-4 list-disc">
          @for (list of getFilteredLists(); track list.id) {
            <li>
              <div class="mb-2 flex justify-between">
                <button
                  class="relative inline cursor-pointer text-start text-lg font-medium before:absolute before:-bottom-1 before:block
                   before:h-[2px] before:w-full before:origin-bottom-right before:scale-x-0 before:bg-todo-custom-color
                   before:transition before:duration-300 before:ease-in-out hover:before:origin-bottom-left hover:before:scale-x-100"
                  (click)="showItemsFromList(list)">
                  {{ list.listName | uppercase }}
                </button>
                <div class="flex space-x-2">
                  <button (click)="shareListWithUser($event, list.id)">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-6 h-6 w-6 text-[#6F42C1]">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z" />
                    </svg>
                  </button>
                  <button (click)="confirmDeleteList($event, list.id, list.listName)">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="h-6 w-6 text-red-500">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                    </svg>
                  </button>
                </div>
              </div>
            </li>
          }
        </ul>
      </ng-template>
      <ng-template pTemplate="footer">
        <ul class="flex justify-between">
          <li>
            <button (click)="settingModalVisible = true">
              <a class="cursor-pointer">
                <i class="pi pi-cog"></i>
                <span> Settings </span>
              </a>
            </button>
          </li>
          <li>
            <button (click)="logout()" class="cursor-pointer text-black">
              <i class="pi pi-sign-out"></i>
              <span> Sign out </span>
            </button>
          </li>
        </ul>
      </ng-template>
    </p-sidebar>
  }
</nav>

<!-- *MODAL CREATE NEW LIST -->
<p-dialog
  header="Nombre de la Lista"
  [(visible)]="showModal"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true">
  <div class="mt-2">
    <form [formGroup]="createNewListForm" (ngSubmit)="submitCreateListForm()">
      <input pInputText type="text" formControlName="listName" placeholder="Nombre para la lista" autofocus />
    </form>
  </div>
  <div class="mt-2 flex justify-center">
    <p-button (click)="submitCreateListForm()" label="Crear" icon="pi pi-plus" size="small"></p-button>
  </div>
</p-dialog>

<!-- *MODAL SETTING -->
<p-dialog
  header="SETTINGS"
  [(visible)]="settingModalVisible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true">
  <div class="mt-2"></div>
  <div class="mt-2 flex justify-center">
    <p-button
      (click)="confirmDeleteUser($event)"
      label="Eliminar Usuario '{{ user() }}'"
      icon="pi pi-minus"
      size="small"></p-button>
  </div>
</p-dialog>

<!-- !CONFIRMATION MESSAGE DELETED (LIST AND USER)-->
<div class="card flex justify-center">
  <p-toast></p-toast>
  <p-confirmDialog #cdDelete key="cdDelete">
    <ng-template pTemplate="headless" let-message>
      <div class="flex flex-col items-center rounded-lg bg-white p-5 shadow-md">
        <div class="-mt-8 flex h-24 w-24 items-center justify-center rounded-full bg-blue-500">
          <i class="pi pi-question text-5xl text-white"></i>
        </div>
        <span class="mb-2 mt-4 block text-2xl font-bold">{{ message.header }}</span>
        <p class="mb-0">{{ message.message }}</p>
        <div class="mt-4 flex items-center gap-2">
          <button
            pButton
            label="Aceptar"
            (click)="cdDelete.accept()"
            class="w-32 rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700"></button>
          <button
            pButton
            label="Cancelar"
            (click)="cdDelete.reject()"
            class="w-32 rounded border border-gray-300 px-4 py-2 font-bold text-white hover:border-gray-500"></button>
        </div>
      </div>
    </ng-template>
  </p-confirmDialog>
</div>

<p-confirmDialog #cdWithInput key="cdWithInput">
  <ng-template pTemplate="headless" let-message>
    <div class="flex flex-col items-center rounded-lg bg-white p-5 shadow-md">
      <div class="-mt-8 flex h-24 w-24 items-center justify-center rounded-full bg-blue-500">
        <i class="pi pi-question text-5xl text-white"></i>
      </div>
      <span class="mb-2 mt-4 block text-2xl font-bold">{{ message.header }}</span>
      <p class="mb-0">{{ message.message }}</p>
      <!-- input for user with share -->
      <form [formGroup]="shareListWithUserForm" (ngSubmit)="cdWithInput.accept()">
        <input
          pInputText
          type="text"
          formControlName="user"
          class="mt-4 w-full rounded border border-gray-300 px-4 py-2"
          placeholder="Ingresa el nombre del usuario" />
      </form>
      <!-- Botones -->
      <div class="mt-4 flex items-center gap-2">
        <button
          pButton
          (click)="cdWithInput.accept()"
          label="Aceptar"
          class="w-32 rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700"></button>
        <button
          pButton
          (click)="cdWithInput.reject()"
          label="Cancelar"
          class="w-32 rounded border border-gray-300 px-4 py-2 font-bold text-white hover:border-gray-500"></button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>

<div class="justify-content-center card flex gap-2">
  <p-toast position="center" key="toastSucces" [style]="{ width: '40vh' }"></p-toast>
</div>
