/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import "primeicons/primeicons.css";
@layer tailwind-base, primeng, tailwind-utilities;
@layer tailwind-base {
  @tailwind base;
}
@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

:root {
  --font-inter: 'Inter', sans-serif;
}

/*Background all app*/
body {
  margin: 0;
  height: 100vh;
  background-size: cover;
  font-family: var(--font-inter);
  background-color: #ffffff;

  overscroll-behavior-y: contain; /* Prevents overscroll on mobile devices */
  overscroll-behavior-x: contain; /* Prevents overscroll on mobile devices */
  -webkit-user-select: none; /* Prevents text selection on mobile devices */
  -webkit-tap-highlight-color: transparent; /* Removes the tap highlight on touch devices */
  -webkit-touch-callout: none; /* Prevents callout on touch devices */
}


@media screen and (max-width: 767px) {
  /* Estilos para móviles pequeños */
  .customCard {
    width: 40vh; /* Ajusta según tus necesidades */
  }
}

/* iPhone en modo horizontal */
@media only screen and (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
  .customCard {
    width: 120vh;
  }
}

/* iPads pequeños en vertical (como iPad Mini) */
@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .customCard {
    width: 55vh;
  }
}

@media only screen and (min-width: 900px) and (max-width: 940px) and (orientation: landscape) {
  .customCard {
    width: 120vh; /* o lo que necesites */
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  /* Tablets grandes (iPads en modo horizontal) */
  .customCard {
    width: 65vh; /* Ajusta según tus necesidades */
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  /* Pantallas Full HD (1080px) */
  .customCard {
    width: 70vh; /* Ajusta según tus necesidades */
  }
}

@media only screen and (min-width: 1440px) {
  /* Pantallas WQHD (1440px y superiores) */
  .customCard {
    width: 75vh; /* Ajusta según tus necesidades */
  }
}

/* Make text uppercase */
.upper{
  text-transform: uppercase;
}


