/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import "primeicons/primeicons.css";
@layer tailwind-base, primeng, tailwind-utilities;
@layer tailwind-base {
  @tailwind base;
}
@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

:root {
  --font-inter: 'Inter', sans-serif;
}

/*Background all app*/
body {
  margin: 0;
  height: 100vh;
  background-size: cover;
  font-family: var(--font-inter);

  overscroll-behavior-y: contain; /* Prevents overscroll on mobile devices */
  overscroll-behavior-x: contain; /* Prevents overscroll on mobile devices */
  -webkit-user-select: none; /* Prevents text selection on mobile devices */
  -webkit-tap-highlight-color: transparent; /* Removes the tap highlight on touch devices */
  -webkit-touch-callout: none; /* Prevents callout on touch devices */
}

.customCard {
  width: 90vw;
  max-width: 480px;
}

@media screen and (min-width: 768px) {
  .customCard {
    max-width: 600px;
  }
}

@media screen and (min-width: 1200px) {
  .customCard {
    max-width: 700px;
  }
}

/* Make text uppercase */
.upper{
  text-transform: uppercase;
}

/* Base style for mobile in portrait orientation */
::ng-deep p-toast.mobile-toast {
  width: 40vh !important;
}

/* When the mobile device is in landscape orientation */
@media (orientation: landscape) {
  ::ng-deep p-toast.mobile-toast {
    width: 70vh !important;
  }
}


